<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
	
		<typeAlias alias="UserDo" type="com.keeping.business.dal.model.UserDo" />
		<typeAlias alias="OrderDo" type="com.keeping.business.dal.model.OrderDo" />
		<typeAlias alias="ServeQueueDo" type="com.keeping.business.dal.model.ServeQueueDo" />
		<typeAlias alias="UserGroupDo" type="com.keeping.business.dal.model.UserGroupDo" />
		<typeAlias alias="PropertyDo" type="com.keeping.business.dal.model.PropertyDo" />
		<typeAlias alias="ModifyQueueDo" type="com.keeping.business.dal.model.ModifyQueueDo" />
		<typeAlias alias="CashQueueDo" type="com.keeping.business.dal.model.CashQueueDo" />

	</typeAliases>
	

<!--	<plugins>
		<plugin interceptor="com.pinganfu.common.log.SQLLogInterceptor" />
	</plugins>  -->

</configuration>