<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.CashQueueDao">

	<resultMap id="CashQueueDoMap" type="CashQueueDo">
	    <id column="ID" property="id" />
		<result column="STEP" property="step" />
		<result column="USER_ID" property="userId" />
		<result column="ORDER_ID" property="orderId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,STEP,USER_ID,ORDER_ID,CREATE_TIME,START_TIME,END_TIME
	</sql>

	<select id="queryByCashQueuestep" resultMap="CashQueueDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_CASHQUEUE
		WHERE
		STEP = #{step}
		order by STEP asc
	</select>
	
	<select id="queryByCashQueueid" resultMap="CashQueueDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_CASHQUEUE
		WHERE
		ID = #{id}
	</select>
	
	<select id="queryByOrderid" resultMap="CashQueueDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_CASHQUEUE
		WHERE
		ORDER_ID = #{orderId}
	</select>
	
	<select id="queryByUseridAndStep" resultMap="CashQueueDoMap" parameterType="CashQueueDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_CASHQUEUE
		WHERE
		STEP = #{step} and USER_ID = #{userId}
	</select>
	
	<insert id="addCashQueue" parameterType="CashQueueDo">
		INSERT INTO TBL_CASHQUEUE 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="step != null">
				STEP,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="orderId != null">
				ORDER_ID,
			</if>
			<if test="startTime != null">
				START_TIME,
			</if>
			<if test="endTime != null">
				END_TIME,
			</if>
			CREATE_TIME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="step != null">
				#{step},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="orderId != null">
				#{orderId},
			</if>
			<if test="startTime != null">
				#{startTime},
			</if>
			<if test="endTime != null">
				#{endTime},
			</if>
			now(),
		</trim>
	</insert>
	
	<update id="updateCashQueue" parameterType="CashQueueDo">
		UPDATE TBL_CASHQUEUE
		<set>
			<if test="step != null">
				STEP = #{step},
			</if>
			<if test="userId != null">
				USER_ID = #{userId},
			</if>
			<if test="orderId != null">
				ORDER_ID = #{orderId},
			</if>
			<if test="startTime != null">
				START_TIME = #{startTime},
			</if>
			<if test="endTime != null">
				END_TIME = #{endTime},
			</if>
		</set>
		WHERE 
		ID = #{id}
	</update>
	
</mapper>
