<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.OrderDao">

	<resultMap id="OrderDoMap" type="OrderDo">
		<id column="ID" property="id" />
		<result column="STATUS" property="status" />
		<result column="REGISTERNUMBER" property="registerNum" />
		<result column="QUEUENUMBER" property="queueNum" />
		<result column="ROOFNUMBER" property="roofNum" />
		<result column="BOOKNUMBER" property="bookNum" />
		<result column="ESTIMATIONTIME" property="estimationTime" />
		<result column="PROMISETIME" property="promiseTime" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,STATUS,REGISTERNUMBER,QUEUENUMBER,ROOFNUMBER,BOOKNUMBER,ESTIMATIONTIME,PROMISETIME,CREATE_TIME,START_TIME,END_TIME
	</sql>

	<select id="queryByOrderstatus" resultMap="OrderDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS = #{status}
	</select>
	
	<select id="queryFirstForServeQueue" resultMap="OrderDoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS = 1
		order by START_TIME asc
		limit 1
	</select>
	
	<select id="queryOrderByBookNum" resultMap="OrderDoMap" 
		parameterType="java.lang.String">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		BOOKNUMBER = #{bookNum}
	</select>
	
	<select id="queryOrderById" resultMap="OrderDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		ID = #{id}
	</select>
	
	<insert id="addOrder" parameterType="OrderDo">
		INSERT INTO TBL_ORDER 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="status != null">
				STATUS,
			</if>
			<if test="registerNum != null">
				REGISTERNUMBER,
			</if>
			<if test="queueNum != null">
				QUEUENUMBER,
			</if>
			<if test="roofNum != null">
				ROOFNUMBER,
			</if>
			<if test="bookNum != null">
				BOOKNUMBER,
			</if>
			<if test="estimationTime != null">
				ESTIMATIONTIME,
			</if>
			<if test="promiseTime != null">
				PROMISETIME,
			</if>
			<if test="startTime != null">
				START_TIME,
			</if>
			<if test="endTime != null">
				END_TIME,
			</if>
			CREATE_TIME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="status != null">
				#{status},
			</if>
			<if test="registerNum != null">
				#{registerNum},
			</if>
			<if test="queueNum != null">
				#{queueNum},
			</if>
			<if test="roofNum != null">
				#{roofNum},
			</if>
			<if test="bookNum != null">
				#{bookNum},
			</if>
			<if test="estimationTime != null">
				#{estimationTime},
			</if>
			<if test="promiseTime != null">
				#{promiseTime},
			</if>
			<if test="startTime != null">
				#{startTime},
			</if>
			<if test="endTime != null">
				#{endTime},
			</if>
			now(),
		</trim>
	</insert>
	
	<update id="updateOrder" parameterType="OrderDo">
		UPDATE TBL_ORDER
		<set>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="registerNum != null">
				REGISTERNUMBER = #{registerNum},
			</if>
			<if test="queueNum != null">
				QUEUENUMBER = #{queueNum},
			</if>
			<if test="roofNum != null">
				ROOFNUMBER = #{roofNum},
			</if>
			<if test="bookNum != null">
				BOOKNUMBER = #{bookNum},
			</if>
			<if test="estimationTime != null">
				ESTIMATIONTIME = #{estimationTime},
			</if>
			<if test="promiseTime != null">
				PROMISETIME = #{promiseTime},
			</if>
			<if test="startTime != null">
				START_TIME = #{startTime},
			</if>
			<if test="endTime != null">
				END_TIME = #{endTime},
			</if>
		</set>
		WHERE 
		ID = #{id}
	</update>
	
	<select id="queryByOrdersId" resultMap="OrderDoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE ID IN
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>
