<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.OrderDao">

	<resultMap id="OrderDoMap" type="OrderDo">
		<id column="ID" property="id" />
		<result column="STATUS" property="status" />
		<result column="CUSTOMER_ID" property="customerId" />
		<result column="REGISTERNUMBER" property="registerNum" />
		<result column="QUEUENUMBER" property="queueNum" />
		<result column="ROOFNUMBER" property="roofNum" />
		<result column="BOOKNUMBER" property="bookNum" />
		<result column="ESTIMATIONTIME" property="estimationTime" />
		<result column="PROMISETIME" property="promiseTime" />
		<result column="BOOKTIME" property="bookTime" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
		<result column="IS_BOOK" property="isBook" />
		<result column="BEGIN_DATE" property="beginDate" />
		<result column="END_DATE" property="endDate" />
		<result column="BOOK_START_TIME" property="bookStartTime" />
		<result column="BOOK_END_TIME" property="bookEndTime" />
		<result column="JOBTYPE" property="jobType" />
		<result column="ASSIGN_DATE" property="assignDate" />
		<result column="COMMENT" property="comment" />
		<result column="GROUPID" property="groupid" />
		<result column="EXPRESS" property="express" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,STATUS,CUSTOMER_ID,REGISTERNUMBER,QUEUENUMBER,ROOFNUMBER,BOOKNUMBER,ESTIMATIONTIME,PROMISETIME,BOOKTIME,CREATE_TIME,START_TIME,END_TIME,IS_BOOK,BEGIN_DATE,END_DATE,BOOK_START_TIME,BOOK_END_TIME,JOBTYPE,ASSIGN_DATE,COMMENT,GROUPID,EXPRESS
	</sql>

	<select id="queryByOrderstatus" resultMap="OrderDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS = #{status}
	</select>
	
	<select id="queryByOrderbook" resultMap="OrderDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS = 1 and IS_BOOK = #{isBook}
		order by CREATE_TIME asc 
	</select>
	
	<select id="getAllOrders" resultMap="OrderDoMap" 
		parameterType="OrderDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS >= #{status} and date(ASSIGN_DATE) = #{assignDate}
		order by STATUS asc
	</select>
	
	<select id="getAllOrdersFReport" resultMap="OrderDoMap" 
		parameterType="OrderDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS between 0 and 6 and date(ASSIGN_DATE) &gt;= #{beginDate} and date(ASSIGN_DATE) &lt;= #{endDate}
		order by STATUS asc
	</select>
	
	<select id="getAllOrdersFBook" resultMap="OrderDoMap" 
		parameterType="OrderDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS between 0 and 6 and date(ASSIGN_DATE) &gt;= #{beginDate} and date(ASSIGN_DATE) &lt;= #{endDate} and IS_BOOK = 1
		order by STATUS asc
	</select>
	
	<select id="queryFirstForServeQueue" resultMap="OrderDoMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		STATUS = 1 and IS_BOOK = #{isBook}
		order by START_TIME asc
		limit 1
	</select>
	
	<select id="queryOrderByBookNum" resultMap="OrderDoMap" 
		parameterType="java.lang.String">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		BOOKNUMBER = #{bookNum}
	</select>
	
	<select id="queryCountByStatusAndBook" resultMap="OrderDoMap" >
		SELECT 
		COUNT(1)
		FROM TBL_ORDER
		WHERE
		STATUS = #{status} and IS_BOOK = #{isBook} and date(ASSIGN_DATE) = #{assignDate}
	</select>
	
	<select id="queryByStatusAndBook" resultMap="OrderDoMap" >
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		IS_BOOK = #{isBook} and date(ASSIGN_DATE) = #{assignDate} and GROUPID = #{groupid}
	</select>
	
	<select id="queryByBookAndExpress" resultMap="OrderDoMap" >
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		IS_BOOK = #{isBook} and date(ASSIGN_DATE) &gt;= #{beginDate} and date(ASSIGN_DATE) &lt;= #{endDate} and GROUPID = #{groupid} and EXPRESS IS NOT NULL
	</select>
	
	<select id="queryByBook" resultMap="OrderDoMap" >
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		IS_BOOK = #{isBook} and date(ASSIGN_DATE) &gt;= #{beginDate} and date(ASSIGN_DATE) &lt;= #{endDate}
	</select>

	<select id="queryOrderByQueueNum" resultMap="OrderDoMap" 
		parameterType="java.lang.String">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		QUEUENUMBER = #{queueNum}
	</select>
	
	<select id="queryOrderByRegisterNum" resultMap="OrderDoMap" 
		parameterType="OrderDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		REGISTERNUMBER = #{registerNum} and STATUS = 0 and date(ASSIGN_DATE) = #{assignDate}
	</select>
	
	<select id="queryOrderByRegNumInAnyStatus" resultMap="OrderDoMap" 
		parameterType="OrderDo">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		REGISTERNUMBER = #{registerNum} and date(ASSIGN_DATE) = #{assignDate}
	</select>
	
	<select id="queryOrderById" resultMap="OrderDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE
		ID = #{id}
	</select>
	
	<insert id="addOrder" parameterType="OrderDo">
		INSERT INTO TBL_ORDER 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="status != null">
				STATUS,
			</if>
			<if test="customerId != null">
				CUSTOMER_ID,
			</if>
			<if test="registerNum != null">
				REGISTERNUMBER,
			</if>
			<if test="queueNum != null">
				QUEUENUMBER,
			</if>
			<if test="roofNum != null">
				ROOFNUMBER,
			</if>
			<if test="bookNum != null">
				BOOKNUMBER,
			</if>
			<if test="estimationTime != null">
				ESTIMATIONTIME,
			</if>
			<if test="promiseTime != null">
				PROMISETIME,
			</if>
			<if test="bookTime != null">
				BOOKTIME,
			</if>
			<if test="startTime != null">
				START_TIME,
			</if>
			<if test="endTime != null">
				END_TIME,
			</if>
			<if test="isBook != null">
				IS_BOOK,
			</if>
			<if test="assignDate != null">
				ASSIGN_DATE,
			</if>
			<if test="bookStartTime != null">
				BOOK_START_TIME,
			</if>
			<if test="bookEndTime != null">
				BOOK_END_TIME,
			</if>
			<if test="jobType != null">
				JOBTYPE,
			</if>
			<if test="comment != null">
				COMMENT,
			</if>
			<if test="groupid != null">
				GROUPID,
			</if>
			<if test="express != null">
				EXPRESS,
			</if>
			CREATE_TIME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="status != null">
				#{status},
			</if>
			<if test="customerId != null">
				#{customerId},
			</if>
			<if test="registerNum != null">
				#{registerNum},
			</if>
			<if test="queueNum != null">
				#{queueNum},
			</if>
			<if test="roofNum != null">
				#{roofNum},
			</if>
			<if test="bookNum != null">
				#{bookNum},
			</if>
			<if test="estimationTime != null">
				#{estimationTime},
			</if>
			<if test="promiseTime != null">
				#{promiseTime},
			</if>
			<if test="bookTime != null">
				#{bookTime},
			</if>
			<if test="startTime != null">
				#{startTime},
			</if>
			<if test="endTime != null">
				#{endTime},
			</if>
			<if test="isBook != null">
				#{isBook},
			</if>
			<if test="assignDate != null">
				#{assignDate},
			</if>
			<if test="bookStartTime != null">
				#{bookStartTime},
			</if>
			<if test="bookEndTime != null">
				#{bookEndTime},
			</if>
			<if test="jobType != null">
				#{jobType},
			</if>
			<if test="comment != null">
				#{comment},
			</if>
			<if test="groupid != null">
				#{groupid},
			</if>
			<if test="express != null">
				#{express},
			</if>
			now(),
		</trim>
	</insert>
	
	<update id="updateOrder" parameterType="OrderDo">
		UPDATE TBL_ORDER
		<set>
			<if test="status != null">
				STATUS = #{status},
			</if>
			<if test="customerId != null">
				CUSTOMER_ID = #{customerId},
			</if>
			<if test="registerNum != null">
				REGISTERNUMBER = #{registerNum},
			</if>
			<if test="queueNum != null">
				QUEUENUMBER = #{queueNum},
			</if>
			<if test="bakQueueNum != null">
				BAKQUEUENUMBER = #{bakQueueNum},
			</if>
			<if test="roofNum != null">
				ROOFNUMBER = #{roofNum},
			</if>
			<if test="bookNum != null">
				BOOKNUMBER = #{bookNum},
			</if>
			<if test="estimationTime != null">
				ESTIMATIONTIME = #{estimationTime},
			</if>
			<if test="promiseTime != null">
				PROMISETIME = #{promiseTime},
			</if>
			<if test="bookTime != null">
				BOOKTIME = #{bookTime},
			</if>
			<if test="startTime != null">
				START_TIME = #{startTime},
			</if>
			<if test="endTime != null">
				END_TIME = #{endTime},
			</if>
			<if test="isBook != null">
				IS_BOOK = #{isBook},
			</if>
			<if test="comment != null">
				COMMENT = #{comment},
			</if>
			<if test="groupid != null">
				GROUPID = #{groupid},
			</if>
				JOBTYPE = #{jobType},
				EXPRESS = #{express}
		</set>
		WHERE 
		ID = #{id}
	</update>
	
	<select id="queryByOrdersId" resultMap="OrderDoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_ORDER
		WHERE ID IN
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
</mapper>
