<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.ServeQueueDao">

	<resultMap id="ServeQueueDoMap" type="ServeQueueDo">
	<id column="ID" property="id" />
		<result column="STEP" property="step" />
		<result column="USER_ID" property="userId" />
		<result column="ORDER_ID" property="orderId" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,STEP,USER_ID,ORDER_ID,CREATE_TIME,START_TIME,END_TIME
	</sql>

	<select id="queryByServeQueuestep" resultMap="ServeQueueDoMap" 
		parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_SERVEQUEUE
		WHERE
		STEP = #{step}
	</select>
	
</mapper>
