<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.UserGroupDao">

	<resultMap id="UserGroupDoMap" type="UserGroupDo">
		<id column="ID" property="id" />
		<result column="GROUP_NAME" property="groupName" />
		<result column="COMMENT" property="comment" />
	</resultMap>
	
	<sql id="Base_Column_List">
		ID,GROUP_NAME,COMMENT
	</sql>

	<select id="queryAll" resultMap="UserGroupDoMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_USERGROUP
	</select>
	
	<select id="queryById" resultMap="UserGroupDoMap" parameterType="java.lang.Integer">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_USERGROUP
		WHERE
		ID = #{id}
	</select>
	
	<select id="queryByName" resultMap="UserGroupDoMap" parameterType="java.lang.String">
		SELECT 
		<include refid="Base_Column_List" />
		FROM TBL_USERGROUP
		WHERE
		GROUP_NAME = #{groupName}
	</select>
	
	<insert id="insertGroup" parameterType="UserGroupDo">
		INSERT INTO TBL_USERGROUP 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="groupName != null">
				GROUP_NAME,
			</if>
			<if test="comment != null">
				COMMENT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="groupName != null">
				#{groupName},
			</if>
			<if test="comment != null">
				#{comment},
			</if>
		</trim>
	</insert>
	
	<delete id="deleteGroup" parameterType="java.lang.Long">
		DELETE FROM TBL_USERGROUP
		WHERE 
		USER_ID = #{id}
	</delete>
	
</mapper>
