<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keeping.business.dal.dao.UserDao">

	<resultMap id="UserDoMap" type="UserDo">
		<id column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="USER_TYPE" property="userType" />
		<result column="IS_ADMIN" property="isAdmin" />
		<result column="IMG_PATH" property="imgPath" />
		<result column="PASSWD" property="passwd" />
		<result column="IS_VALID" property="isValid" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="MODIFY_TIME" property="modifyTime" />
	</resultMap>
	
	<sql id="Base_Column_List">
		USER_ID,USER_NAME,USER_TYPE,IS_ADMIN,IMG_PATH,PASSWD,IS_VALID,CREATE_TIME,MODIFY_TIME
	</sql>

	<sql id="QUERY_PARAM">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="userId !=null and userId !=''">
				AND USER_ID = #{id}
			</if>
			<if test="userName !=null and userName !=''">
				AND USER_NAME LIKE CONCAT(CONCAT('%', #{userName}),
				'%')
			</if>
		</trim>
	</sql>

	<select id="checkUniqueUsername" resultType="java.lang.Integer" 
		parameterType="java.lang.String">
		SELECT COUNT(1)
		FROM TBL_USER
		WHERE
		USER_NAME = #{userName}
	</select>
	
	<select id="checkValidUsername" resultType="java.lang.Integer" 
		parameterType="java.lang.String">
		SELECT COUNT(1)
		FROM TBL_USER
		WHERE
		USER_NAME = #{userName} AND IS_VALID = 1
	</select>
	
	<select id="query" resultMap="UserDoMap" parameterType="UserDo">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_USER
		WHERE
		<include refid="QUERY_PARAM" />
	</select>

	<select id="queryByUsersId" resultMap="UserDoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_USER
		WHERE USER_ID IN
		<foreach collection="list" item="item" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="queryAll" resultMap="UserDoMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_USER
	</select>

	<select id="queryByPK" resultMap="UserDoMap" 
		parameterType="java.lang.Long">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_USER
		WHERE
		USER_ID = #{userId}
	</select>
	
	<select id="queryByUsername" resultMap="UserDoMap" 
		parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM TBL_USER
		WHERE
		USER_NAME = #{userName}
	</select>

	<select id="queryPasswd" resultType="java.lang.String"
		parameterType="java.lang.Long">
		SELECT PASSWD
		FROM TBL_USER
		WHERE
		USER_ID = #{userId}
	</select>

	<insert id="insertData" parameterType="UserDo">
		INSERT INTO TBL_USER 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="userName != null">
				USER_NAME,
			</if>
			<if test="userType != null">
				USER_TYPE,
			</if>
			<if test="isAdmin != null">
				IS_ADMIN,
			</if>
			<if test="imgPath != null">
				IMG_PATH,
			</if>
			<if test="passwd != null">
				PASSWD,
			</if>
			<if test="isValid != null">
				IS_VALID,
			</if>
			CREATE_TIME,
			MODIFY_TIME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId},
			</if>
			<if test="userName != null">
				#{userName},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
			<if test="isAdmin != null">
				#{isAdmin},
			</if>
			<if test="imgPath != null">
				#{imgPath},
			</if>
			DATE_FORMAT(now(),'%Y%m%d'),
			<if test="passwd != null">
				#{passwd},
			</if>
			<if test="isValid != null">
				#{isValid},
			</if>
			now(),
			now(),
		</trim>
	</insert>
	
	<update id="updateData" parameterType="UserDo">
		UPDATE TBL_USER
		<set>
			<if test="userName != null">
				USER_NAME = #{userName},
			</if>
			<if test="isAdmin != null">
				IS_ADMIN = #{isAdmin},
			</if>
			<if test="imgPath != null">
				IMG_PATH = #{imgPath},
			</if>
			MODIFY_TIME = now(),
		</set>
		WHERE 
		USER_ID = #{userId}
	</update>
	
	<update id="modifyHeadImg" parameterType="UserDo">
		UPDATE TBL_USER
		<set>
			<if test="imgPath != null">
				IMG_PATH = #{imgPath},
			</if>
			MODIFY_TIME = now(),
		</set>
		WHERE 
		USER_ID = #{userId}
	</update>
	
	<update id="modifyPasswdById" parameterType="UserDo">
		UPDATE TBL_USER
		<set>
			<if test="passwd != null">
				PASSWD = #{passwd},
			</if>
			MODIFY_TIME = now(),
		</set>
		WHERE USER_ID = #{userId}
	</update>
	
	<update id="modifyPasswdByUsername" parameterType="UserDo">
		UPDATE TBL_USER
		<set>
			<if test="passwd != null">
				PASSWD = #{passwd},
			</if>
			MODIFY_TIME = now(),
		</set>
		WHERE USER_NAME = #{userName}
	</update>
	
	<delete id="deleteData" parameterType="java.lang.Long">
		DELETE FROM TBL_USER
		WHERE 
		USER_ID = #{id}
	</delete>
	
</mapper>
