div.b1 {
	width:535px;
	height:54px;
	margin:8px auto;
	border-radius: 4px;
}
div.b1.odd {
	background-color:#f0bf94;
}
div.b1.even {
	background-color:#f6dac1;
}
span.b1 {
	display:inline-block;
	color:#787878;
	font-size:26px;
	font-weight:bold;
	line-height:54px;
}
span.b1.col1 {
	width:30%;
	padding-left:20px;
}
span.b1.col2 {
	width:20%;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
}
span.b1.col3 {
	width:30%;
	padding-right:20px;
	text-align:right;
}
table.proceed {
	background-color:#231F20;
	border-top:4px solid #CFBF8C;
	border-right:4px solid #CFBF8C;
	border-bottom:4px solid #CFBF8C;
	border-left:4px solid #CFBF8C;
}
td.customer_no {
	height:110px;
	line-height:110px;
	text-align:center;
	border-right:4px solid #CFBF8C;
}