html, body {
	height:auto;
}
fieldset{
	width:350px;
	padding:3px 80px 3px 60px;
}
div.box-black-light {
	background: -webkit-linear-gradient(#D0D0D0, #231F20);
	background: -ms-linear-gradient(#D0D0D0, #231F20); 
	background:-moz-linear-gradient(#D0D0D0, #231F20);
	background: -o-linear-gradient(#D0D0D0, #231F20);
	border-radius: 36px;
}
div.cAlign {
	text-align:center;
}
div.donut {
	display:inline-block;
	width:130px;
	margin:10px 10px 10px 10px;
}
div.box-black-dark {
	background-color:rgb(66,66,66);
	width:140px;
	height:160px;
}
table.workload {
	border-collapse:collapse;
	margin:20px auto;
	font-size:18px;
	font-style:italic;
	text-align:center;
}
table.workload .header {
	background-color:#b1def3;
	font-style:normal;
}
table.workload td {
	border:1px solid;
}
table.workload .yellow {
	background-color:#f9e7d7;
}
table.workload .green {
	background-color:#f5f9eb;
}
table.workload .red {
	background-color:#edc4c4;
}