html, body {
	margin:0px;
	height:100%;
	min-width:1200px;
	min-height:750px;
	font-family:Calibri;
}
div.box {
	margin-top:10px;
}
div.header-top {
	background-color:#000000;
	height:36px;	
	color:#ffffff;
	line-height:36px;
}
div.header-top-lf {
	float: left;
	width:auto;
	padding-left:8px;
}
div.header-top-rg {
	float: right;	
	width: auto;
	padding-right:8px;
}
div.container {
	background:url(../img/background.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	-moz-background-size:100%;
	margin:0px;
}
div.content {
	padding-top:5px;
	padding-bottom:5px;
	background-color:#ffffff;
}
div.content_lf {
	float: left;
	width:50%;
}
div.content_rg {
	display:inline-block;
	width:50%;
}
div.footer {
	background-color:#AED161;
}
div.vedio {
	background-color:#000000;
}
div.controller {
	text-align:right;
	padding-top:4px;
}
span {
	display:block;
	text-align:center;	
}
.h1 {
	font-size:42px;
	font-weight:bold;
	color:#ffffff;
}
.h2 {
	font-size:44px;
	font-weight:bold;
	color:#ffffff;
}
.h3 {	
	font-size:26px;
	color:#ffffff;
}
.h4 {
	font-size:62px;
	font-weight:bold;
}
.h5 {
	font-size:20px;
}
.h6 {
	font-size:72px;
	font-weight:bold;
	color:#ffffff;
}
.h7 {
	font-size:52px;
	font-weight:bold;
}
.inline {
	display:inline-block;
}
span.t1 {	
	line-height:65px;
}
span.blue {
	background-color:#0697DA;
	border-radius: 4px;
}
span.h3 {
	font-weight:bold;
}
span.h3.low {
	line-height:26px;
}
span.h5 {	
	line-height:24px;
}
span.h6 {	
	line-height:102px;
}
span.h6.low {	
	line-height:72px;
}
span.h7 {
	line-height:60px;
}
span.hello {
	font-size:18px;
	font-weight:bold;
}
a, span.link, .btn {
	cursor:pointer;
	font-weight:bold;
}
a.header-top {
	color:#FFF;	
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	text-decoration:underline;
	margin-left:4px;
}
a.header-top:hover, span.link:hover {
	color:#CFBF8C;
}
table.queue {
	border-collapse: collapse;
	margin:0px auto;	
	border-top:1px solid;
	border-bottom:1px solid;
	text-align:center;
	font-size:22px;
}
table.queue th {
	height:40px;
	border-bottom:1px solid;
	font-style:normal;
}
table.queue tr {
	height:40px;
}
table.green {
	border-color:rgb(54,95,145);
}
table.green th {	
	color:rgb(54,95,145);
	border-color:rgb(54,95,145);
}
table.green tr.odd {
	background-color:rgb(211,223,238);
}
table.purple {		
	font-style:italic;
	border-color:rgb(152,129,180);
}
table.purple th {	
	color:rgb(152,129,180);
	border-color:rgb(152,129,180);
}
table.purple tr.odd {
	background-color:rgb(223,216,232);
}
fieldset {
	padding:10px 30px 20px 30px;
	margin:5px auto;
	border:2px solid #0697DA;
	border-radius: 8px;
}
fieldset legend {
	font-size:18px;
	font-weight:bold;
	padding:3px 20px 3px 20px;
}
form {
	padding:0px;
	margin:0px;
	border:none;
}
form div {
	margin-bottom:8px;
}
label {
	float:left;
	width:150px;
	line-height:25px;
}
input {
	 margin: 0px;
	 padding: 0px;
}
input[type='text'], input[type='password'] {
	width:150px;
	height:25px;
	border:1px solid #CCC;
	background:url(../img/text-bg-gray.png);
	background-size:100%;
	-moz-background-size:100%;
}
input[type='text']:focus, input[type='password']:focus{
	background:url(../img/text-bg-blue.png);
	background-size:100%;
	-moz-background-size:100%;
}
input[type='checkbox'] {
	width:15px;
	vertical-align:middle;
	margin-top:-2px;
}
select {
	width:152px;
	height:25px;
	border:1px solid #CCC;
	background:url(../img/text-bg-gray.png);
	background-repeat:x-repeat;
	background-size:100%;
	-moz-background-size:100%;
}
select:focus{
	background:url(../img/text-bg-blue.png);
	background-repeat:x-repeat;
	background-size:100%;
	-moz-background-size:100%;
}
button.blue-button {
	background-color:#0697DA;
	border-radius: 4px;
	border:none;
	outline:none;
	color:#FFFFFF;
	cursor:pointer;
	font-size:20px;
}
button.blue-button:hover {
	background-color:rgb(0, 115, 182);
}
button.blue-button:disabled {
	background-color:#D0D0D0;
	color:gray;
	cursor:auto;
}
.f-white {
	color:#FFFFFF;
}
.f-black {
	color:#000000;
}
.f-yellow {
	color:#CFBF8C;
}
.f-yellow-dark {
	color:#CFBF8C;
	-webkit-text-stroke: 1px #f5f1e6;
}
.f-yellow-light {
	color:#f5f1e6;
	-webkit-text-stroke: 1px #CFBF8C;
}
.f-purple {
	color:rgb(210,201,220);
	-webkit-text-stroke: 1px rgb(104,101,111);
}
.errMsg {
	width:100%;
	color:#B33737;
	font-weight:bold;
}
.succMsg {
	width:100%;
	color:#A4CB4E;
	font-weight:bold;
}

div.yellow {
	padding:0px;
	background-color:#E07C24;
	margin:0px auto 4px auto;
	line-height:45px;
	text-align:center;
}
div.blue {
	background-color:#1d8bbf;
	margin:0px auto 4px auto;
	line-height:45px;
	text-align:center;
}
div.blue-border {
	border:1px solid #1d8bbf;
}
div.green {
	background-color:#A4CB4E;
	margin:0px auto 4px auto;
	line-height:45px;
	text-align:center;
}
div.gray-light {
	background-color:#e3e3e3;
	margin:0px auto 4px auto;
	line-height:45px;
	text-align:center;
}
div.navg {
	background-color:#B33737;
	margin:0px auto 4px auto;
}
.navg ul {
	margin:0px auto;
	padding:0px;
	list-style:none;
}
.navg ul li {
	float:left;
	margin:0px;
	padding:0px;	
	background-color:#ffffff;
	color:#B33737;
}
.navg ul li.unselected {
	background-color:#B33737;
	color:#ffffff;
}
.navg ul li a {
	display: block;
	float:left;
	text-align:center;
	font-weight:bold;
	font-size:26px;
	line-height:45px;
}
table.red {		
	font-style:italic;
	border-color:#C33C3C;
}
table.red th {	
	color:#C33C3C;
	border-color:#C33C3C;
}
table.red tr.odd {
	background-color:#edc4c4;
}
table.red tr.hoverable:hover {
	background-color:#C33C3C;
	cursor:pointer;
}
table.red tr.selected {
	background-color:#B33737;
}
table.blue {		
	font-style:italic;
	border-color:#2098d1;
}
table.blue th {	
	color:#2098d1;
	font-weight:bold;
}
table.blue tr.hd {
	font-style:normal;
	font-weight:bold;
	color:#2098d1;
}
table.blue tr.odd {
	background-color:#b1def3;
}
table.blue tr.hoverable:hover {
	background-color:#2098d1;
	cursor:pointer;
}
table.blue tr.selected {
	background-color:#1d8bbf;
}
div.black-bg {
	background-color:#231F20;
	border:4px solid #ffffff;
	border-radius:12px;
	padding-top:20px;
}