div.green {
	background-color:#cce29c;
	border-radius: 4px;
	text-align:center;
}
div.blue {
	background-color:#6ed2dd;
	border-radius: 4px;
	text-align:center;
}
div.yellow {
	background-color:#edb17e;
	border-radius: 4px;
	text-align:center
}
div.yellow-dark {
	background-color:#CFBF8C;
	color:#231F20;
	border-radius: 4px;
	text-align:center;
	font-size:36px;
	font-weight:bold;
}