div.content_lf {
	width:338px;
}
div.content_rg {
	width:252px;
}
fieldset.w1 {
	width:590px;
}
div.box.yellow {
	border:2px solid rgb(206,185,102);
}
.s1 {
	width:80px;
	height:37px;
}
span.s2 {
	width:250px;
	height:77px;
	line-height:77px;
	font-size:36px;
	font-weight:bold;
	color:#ffffff;
}
span.s1 {	
	line-height:28px;
}
div.green {
	background-color:#cce29c;
	border:1px solid #A4CB4E;
	text-align:center;
}
div.blue {
	background-color:#6ed2dd;
	border:1px solid #2DB1C0;
	text-align:center;
}
div.yellow {
	background-color:#edb17e;
	border:1px solid #E07C24;
	text-align:center
}
span.yellow {
	background:url(../img/background-yellow.png);
	background-repeat:no-repeat;
	background-size:cover;
	-moz-background-size:cover;
}
div.circle1 {
	background:url(../img/s1.png);
	background-repeat:no-repeat;
	background-size:37px,37px;
	-moz-background-size:37px,37px;
	background-position:center;
}
div.circle2 {
	background:url(../img/s2.png);
	background-repeat:no-repeat;
	background-size:37px,37px;
	-moz-background-size:37px,37px;
	background-position:center;
}
div.circle3 {
	background:url(../img/s3.png);
	background-repeat:no-repeat;
	background-size:37px,37px;
	-moz-background-size:37px,37px;
	background-position:center;
}