div.content {
	padding-top:0px;
	padding-bottom:0px;
}
div.content_lf {
	float: left;
	width:49%;
}
div.content_rg {
	display:inline-block;
	width:49%;
}
div.black {
	background-color: #231F20;
	border:4px solid #000000;
}
div.box-gray {
	background: -webkit-linear-gradient(left top, #BCBCBC, #D0D0D0);
	background: -ms-linear-gradient(top, #BCBCBC, #D0D0D0); 
	background:-moz-linear-gradient(top, #BCBCBC, #D0D0D0);
	background: -o-linear-gradient(top, #BCBCBC, #D0D0D0);
	border:1px solid #D0D0D0;
	border-radius: 8px;
	padding-top:10px;
	padding-left:20px;
	margin-left:40px;
}
div.controller {
	text-align:center;
	margin:15px auto 15px auto;
}
button.blue-button {
	margin:8px 8px 8px 8px;
	font-size:22px;
}