<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context definition. -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
	default-autowire="byName">
	
	<bean id="userGroupService" class="com.keeping.business.service.impl.UserGroupServiceImpl">
		<property name="UserGroupDao" ref="userGroupDao" />
	</bean>
	
	<bean id="userService" class="com.keeping.business.service.impl.UserServiceImpl">
		<property name="UserDao" ref="userDao" />
	</bean>
	
	<bean id="customerService" class="com.keeping.business.service.impl.CustomerServiceImpl">
		<property name="CustomerDao" ref="customerDao" />
	</bean>
	
	<bean id="orderService" class="com.keeping.business.service.impl.OrderServiceImpl">
		<property name="OrderDao" ref="orderDao" />
	</bean>
	
	<bean id="serveQueueService" class="com.keeping.business.service.impl.ServeQueueServiceImpl">
		<property name="ServeQueueDao" ref="serveQueueDao" />
	</bean>
	
	<bean id="modifyQueueService" class="com.keeping.business.service.impl.ModifyQueueServiceImpl">
		<property name="ModifyQueueDao" ref="modifyQueueDao" />
	</bean>
	
	<bean id="issueQueueService" class="com.keeping.business.service.impl.IssueQueueServiceImpl">
		<property name="IssueQueueDao" ref="issueQueueDao" />
	</bean>
	
	<bean id="cashQueueService" class="com.keeping.business.service.impl.CashQueueServiceImpl">
		<property name="CashQueueDao" ref="cashQueueDao" />
	</bean>
	
	<bean id="settleQueueService" class="com.keeping.business.service.impl.SettleQueueServiceImpl">
		<property name="SettleQueueDao" ref="settleQueueDao" />
	</bean>
	
	<bean id="propertyService" class="com.keeping.business.service.impl.PropertyServiceImpl">
		<property name="PropertyDao" ref="propertyDao" />
	</bean>
	
	<bean id="jobtypeService" class="com.keeping.business.service.impl.JobTypeServiceImpl">
		<property name="JobTypeDao" ref="jobtypeDao" />
	</bean>
	
	<bean id="counterService" class="com.keeping.business.service.impl.CounterServiceImpl">
		<property name="CounterDao" ref="counterDao" />
	</bean>
	
	<bean id="userWorkloadService" class="com.keeping.business.service.impl.UserWorkloadServiceImpl">
		<property name="UserWorkloadDao" ref="userWorkloadDao" />
	</bean>

	
</beans>